<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인터파크 베스트셀러</title>
</head>
<body style="margin: 40px;">
    <h3>베스트셀러(인터파크 추천)</h3>
    <form action="interpark" method="post">
    <table border="1">
        <tr>
            <th>순위</th>
            <th>이미지</th>
            <th>타이틀</th>
            <th>저자</th>
            <th>출판사</th>
            <th>가격</th>
        </tr>
        {% for book in book_list %}
        <tr>
            <td style="text-align: center;">{{book.순위}}</td>
            <td style="text-align: center;"><img src="{{book.이미지}}" height="40"></td>
            <td><a href="{{book.href}}" target="_blank">{{book.제목}}</a></td>
            <td>{{book.저자}}</td>
            <td>{{book.출판사}}</td>
            <td>{{book.가격}}</td>
        </tr>
        {% endfor %}
    </table>
    </form>
</body>
</html>