<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song 수정</title>
    <style>
        input {padding: 3px;}
    </style>
</head>
<body style="margin: 40px">
    <h3>히트곡 수정</h3>
    <hr>
    <form action="/song/update" method="post">
        <input type="text" name="title" placeholder="제목을 입력하세요."><br>
        <input type="text" name="lyrics" placeholder="노래 가사를 입력하세요."><br>
        <input type="submit" value="제출">
    </form>
</body>
</html>