{% extends "prototype/base.html" %}
{% block title %}핫플레이스{% endblock %}
{% block weather %}{{ weather | safe() }}{% endblock %}
{% block subtitle %}핫플레이스<i class="fas fa-home"></i>{% endblock %}
{% block content %}
    <form action="hotPlaces" method="post">
        <input type="text" name="place1">
        <input type="text" name="place2">
        <input type="text" name="place3">
        <input type="submit" value="제출">
    </form>
    <br>
    <iframe src="{{url_for('static', filename='img/hotPlaces.html')}}" frameborder="1" width="800" height="500"></iframe>
    <button onclick="location.href='/hotPlaces'">재실행</button>
{% endblock %}