{% extends "prototype/pbase.html" %}
{% block title %}멜론차트{% endblock %}
{% block content %}
<h3>멜론Top100</h3>
<hr>
<table class="table">
    <tr>
        <th>순위</th>
        <th>제목</th>
        <th>아티스트</th>
        <th>앨범</th>
        <th>이미지</th>
    </tr>
    {% for melon in melon_list %}
    <tr>
        <td style="text-align: center;">{{melon.순위}}</td>
        <td><a href="{{melon.href}}" target="_blank">{{melon.제목}}</a></td>
        <td>{{melon.아티스트}}</td>
        <td>{{melon.앨범}}</td>
        <td style="text-align: center;"><img src="{{melon.이미지}}" height="40"></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}