{% extends "prototype/base.html" %}
{% block title %}식신{% endblock %}
{% block weather %}{{ weather | safe() }}{% endblock %}

{% block additional_head %}
<style>
th{text-align: center;}
td{text-align: center;}
</style>
{% endblock %}
{% block subtitle %}식신검색결과{% endblock %}
{% block content %}    
    <form action="sigsin" method="post">
        <table>
            <tr>
                <td style="width: 80%;"><input class="form-control" type="text" name="places"></td>
                <td><input class="btn btn-primary ms-3" type="submit" value="제출"></td>
            </tr>
        </table>
    </form>
    <br>
    <table class="table">
        <tr>
            <th>이미지</th>
            <th>타이틀</th>
            <th>평점</th>
            <th>위치</th>
            <th>메뉴</th>
        </tr>
        {% for restaurant in sigsin_list %}
        <tr>
            <td style="text-align: center;"><img src="{{restaurant.img}}" height="40"></td>
            <td><a href="{{restaurant.href}}" target="_blank">{{restaurant.title}}</a></td>
            <td>{{restaurant.score}}</td>
            <td>{{restaurant.location}}</td>
            <td>{{restaurant.menu}}</td>
        </tr>
        {% endfor %}
    </table>
    
    {% endblock %}
    