{% extends "prototype/pbase.html" %}
{% block title %}유튜브차트{% endblock %}
{% block content %}
<h3>유튜브 카테고리별Top10</h3>
<hr>
<a href="/y20"><button style="width: 50%;">Top20</button></a><br>
<a href="/yc10"><button style="width: 50%;">카테고리별Top10</button></a><br>
<a href="/youtube_ranking"><button style="width: 50%;">유튜브Top1000</button></a>
<br>
<table class="table">
    <tr>
        <th>카테고리</th>
        <th>채널수</th>
    </tr>
    {% for key, valu in my_dict.items() %}
    <tr>
        <td style="text-align: center;">{{key}}</td>
        <td style="text-align: center;">{{valu}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %} 

